.user-info-wrapper {
	display: flex;
	flex-direction: row;

	.user-info-container {
		display: flex;
		flex-direction: row;

		&.column {
			flex-direction: column;
		}

		.labels-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	.info-container {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		&.invisible {
			display: none;
		}
	}

	.actions-container {
		display: none;

		&.visible {
			display: block;
		}
	}

	&:hover {
		.info-container {
			display: none;
		}

		.actions-container  {
			display: block;
		}
	}
}
