.user-info-wrapper {
	display: flex;
	flex-direction: row;

	.user-info-container {
		display: flex;
		flex-direction: row;
		position: relative;
		&.column {
			flex-direction: column;
		}

		.labels-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 40px;
		}
	}

	.info-container {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		.footer-container {
			display: flex;
		}

		.loading-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 100%;
		}
	}

	.actions-container {
		transition: all 0.1s ease;
		width: 0px;
		height: 0px;

		&.visible {
			width: 28px;
			height: 28px;
		}
	}

	&:hover {
		.actions-container  {
			width: 28px;
			height: 28px;
		}
	}
}
