.drawer {
	background-color: $brand-default;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	transform: translateX(-100%);
	transition: all .2s ease-in-out;

	&.open {
		transform: translateX(0%);
	}
}
