// Global
$font-family: 'Montserrat', sans-serif;


// Colors
$brand-default: #ffffff;
$brand-primary: #0f5fff;
$brand-secondary: #f1f2f4;
$brand-success: #33F778;
$brand-warning: #F8AB37;
$brand-danger:  #F83747;

// $brand-info: #000000;
$brand-text-default: #ffffff;
$brand-text: #b1b0b0;
$brand-text-dark: #b0b0af;

// Sizes
$font-size-base: 16px;
