.button {
	height: 50px;
	cursor: pointer;
	font-weight: 500;
	border-radius: 4px;
	color: $brand-text-default;
	box-shadow: 0 10px 20px rgba(101, 101, 101, 0.19), 0 5px 5px rgba(148, 148, 148, 0.23);
	font-size: 18px;

	&.small {
		height: 35px;
	}

	&.button--primary {
		transition: background .5s ease, color .5s ease;
		background: $brand-primary;

		.spinner > div {
			background: $brand-default;
		}

		&:hover {
			background: $brand-default;
			color: $brand-text-primary;

			.spinner > div {
				background: $brand-primary;
			}
		}
	}

	&.button--default {
		transition: background .5s ease, color .5s ease;
		background: $brand-default;
		border: 2px solid $brand-default;
		color: $brand-text-primary;

		.spinner > div {
			background: $brand-primary;
		}

		&.outline {
			background: none;
			color: $brand-default;

			&:hover {
				background: $brand-default;
				color: $brand-text-primary;
			}
		}
	}

	&.button--disabled {
		transition: all .5s ease;
		background: $brand-secondary;
		color: $brand-text;
		box-shadow: none;
		cursor: not-allowed;
	}

	&.button--link {
		background: none;
		color: $brand-primary;
		box-shadow: none;
		height: 30px;
	}

	&:active {
		transform: translateY(2px);
	}
}
