.message {
	display: flex;
	flex-direction: column;
	word-break: break-all;
	min-height: 45px;
	border-radius: 4px;
	max-width: 47%;
	width: 47%;
	margin: 10px 0px 10px 0px;
	padding: 10px;

	.time-container {
		align-self: flex-end;
		margin-top: 15px;
	}

	&.left {
		align-self: flex-start;
		background: $brand-default;
	}

	&.right {
		align-self: flex-end;
		background: $brand-primary;
	}
}
